// imports das fonts
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
    // color
    --color-background: hsl(212, 45%, 89%);
    --color-surface: hsl(0, 0%, 100%);
    --color-title: hsl(220, 15%, 55%);
    --color-paragraph: hsl(218, 44%, 22%);

    // fonts
    --fonts: Verdana, Arial, Helvetica, sans-serif;
    --font-parisienne: "Outfit", var(--fonts);

    // declaration
    font-size: 15px;
}

body {
    font-family: var(--font-parisienne);
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    background-color: var(--color-background);
}

main {
    background-color: var(--color-surface);
}
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
